# openai 
openai==2.24.0 

# langchain 
langchain==1.2.10
langchain-openai==1.1.10
langchain-experimental==0.4.1
langchain-mcp-adapters==0.2.1

# mcp 
mcp 

# llamaindex
llama-index==0.14.15
llama-index-embeddings-openai==0.5.1
llama-index-retrievers-bm25==0.6.5

# jupyter
ipykernel==7.2.0

# tiktoken 
tiktoken==0.12.0 

# html2text
html2text==2025.4.15

# pydantic 
pydantic==2.12.5

# PyYAML
PyYAML==6.0.3

# fastapi 
fastapi==0.133.1
uvicorn==0.41.0
sse-starlette==3.2.0

# pyfiglet 
termcolor==3.3.0
pyfiglet==1.0.4

# postgresql
sqlalchemy
psycopg2-binary

# deepagents
deepagents
